:root{
  --bodyColor: #FFFBFF;
  --secondBodyColor: #D8BFD8;
  --accentColor: #A592A5;
  --secondAccentColor: #748B88;
}



/* Main body */
body {
  width: auto;
  height: auto;
  background-color: var(--bodyColor);
}


/* Navigation bar */

nav,
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  list-style: none;
  background-color: var(--accentColor);
  background-image: url(http://i64.tinypic.com/t6q7te.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
}

nav ul {
  position: absolute;
  bottom: 5%;
  left: auto;
  right: auto;
  width: 95%;
}

/* Links in the navigation bar */
nav ul li,
footer ul li {
  display: inline;
  font-weight: bold;
  margin: 50px;
  font-size: 20px;
}

button {
  background: none!important!;
  border: none;
  padding: 0 !important;
  font: inherit;
}

button.link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: left;
  color: var(--bodyColor);
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

button.link:hover,
button.link:focus {
  color: var(--accentColor);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}



/* Accent bar */
accent{
  background-color: var(--accentColor);
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  height: 7px;
  z-index: 0;
  -webkit-text-size-adjust: none;
}

logo{
  position:fixed;
  line-height: 65px;
  text-align: left;
  letter-spacing: 5px;
  top: 10%;
  left: 12%;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  z-index: 3;
  color: var(--accentColor);
}

icon{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB6oHXmPXzv4NWoSFFzqjblnAbxkx_YTGKBZBOWHihafto276d);
  background-color: white;
  background-size: cover;
  position: fixed;
  top: 10%;
  left: 2%;
  width: 110px;
  height: 110px;
  z-index: 2;
  border-radius: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: var(--accentColor);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  transition: all 800ms ease-in-out;
  
}

icon:hover{
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*Content and paragraphs below the navigation bar*/
content {
  background-color: var(--bodyColor);
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;
  top: 21%;
  left: 0;
  height: 70%;
  overflow: auto;
  margin-top: 5%;

}

content ul {
  width: 75%;
  left: 9.3%;
  letter-spacing: 2px;
  line-height: 25px;
  padding-left: 12%;
}

img{
  margin-right: 50px;
  margin-bottom: 22px;
}

/* All links */
a {
  text-decoration: none;
  color: var(--accentColor);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

/* All links on hover */
a:hover {
  color: var(--secondAccentColor);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
  font-size: 1.5em;
  line-height: 1em;
  color: #333;
  font-weight: bold;
  position: static
}

li {
  margin-left: 10%;
}
